.wrap{
	background: blue;
	width: 100%;
	
}
 
/*bagian header*/
.wrap .header{
	background: blue;
	height: 80px;
	text-align: center;

}
 
/*akhir header*/
 
/*bagian menu*/
.wrap .menu{
	background: gray;
}
 
.wrap .menu ul{
	padding: 0;
	margin: 0;
	background: gray;
	overflow: hidden;
}
 
.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}
/*akhir menu*/
 
.clear{
	clear: both;
}
 
.badan{
	height: 450px;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
	background: orange;
	float: left;	
	width: 25%;
	height: 100%;
}
 
/*akhir sidebar*/
 
.wrap .badan .content{
	background: white;
	float: left;
	height: 100%;
	width: 75%;	
}
 
.wrap .footer{
	background: dodgerblue;
	width: 100%;
	padding: 10px;
	text-align: center;
}